<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutSignUp :: layoutSignUp (~{::body},'signup')}">

<body>


<div class="container">
  <h1>Sign Up</h1>
  <form action="#" th:action="@{/signup}" th:object="${signUpForm}" method="post">
	<label>Name:  </label>
	<input type="text" id="name" th:field="*{name}"><br><br>
	
	<label>Gender:  </label>
	<select id="gender" th:field="*{gender}">
	<option value="male">Male</option>
	<option value="female">Female</option>
	<option value="other">Other</option>
	</select><br><br>
	
	<label>DOB:  </label>
	<input type="date" id="DOB" th:field="*{DOB}"><br><br>
	
	<label>CNIC:  </label>
	<input type="number" id="CNIC" th:field="*{CNIC}"><br><br>
	
	<label>Address:  </label>
	<input type="text" id="address" th:field="*{address}"><br><br>
	
	<label>Contact No:  </label>
	<input type="text" id="contactNo" th:field="*{contactNo}"><br><br>
	
	<label>Username:  </label>
	<input type="text" id="username" th:field="*{username}"><br><br>
	
	<label>Password:  </label>
	<input type="password" id="password" th:field="*{password}"><br><br>
	
	<input type="submit" id="submit" value="Submit">
	</form>
<!-- 	<script> -->
// 	function onSubmit()
// 	{
// 		var name = document.getElementById("name");
// 		var gender = document.getElementById("gender");
// 		var DOB = document.getElementById("DOB");
// 		var CNIC = document.getElementById("CNIC");
// 		var address = document.getElementById("address");
// 		var contactNo = document.getElementById("contactNo");
// 		var username = document.getElementById("username");
// 		var password = document.getElementById("password");
		
// 		if(name.value == null || name.value == ""
// 			|| gender.value == null || gender.value == ""
// 			|| DOB.value == null || DOB.value == ""
// 			|| CNIC.value == null || CNIC.value == ""
// 			|| address.value == null || address.value == ""
// 			|| contactNo.value == null || contactNo.value == ""
// 			|| username.value == null || username.value == ""
// 			|| password.value == null || password.value == "")
// 		{
// 			//  [1]
// 	 		window.location.href = window.location.href;
// 		}
// 		else
// 		{
// 			window.location.href = "/register";
// 		}
		
// 	}
<!-- 	</script> -->
</div>

</body>
</html>
<!-- 
  [1]  https://stackoverflow.com/questions/19954040/call-spring-mvc-controller-on-click-of-html-normal-button?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa 
  -->